@import './variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-body;
	color: $dark-color;
	line-height: 1.6;
}

.btn-primary{
	background-color: $primary-color !important;
	border: 1px solid $primary-dark !important;
}

.text-primary {
	color: $primary-color !important;
}
.toast {
	position: fixed;
	top: 50px;
	right: 20px;
	color: #eee;
	width: 300px;
	font-weight: 700;
	z-index: 1000;
	animation: toast 500ms forwards;
}

@keyframes toast {
	from {
		opacity: 0;
		transform: translateX(120%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}
.disabled {
	pointer-events: none;
	opacity: 0.6;
	background-color: $light-color !important;
}

.custom-spinner {
	width: 1.2rem;
	height: 1.2rem;
}