@import './variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-body;
	color: $dark-color;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $font-heading;
	font-weight: 700;
	color: $dark-color;
}

.section-title {
	position: relative;
	margin-bottom: 3rem;
	text-align: center;
}

.section-title:after {
	content: '';
	position: absolute;
	width: 80px;
	height: 4px;
	background-color: $primary-color;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
}
