@import './variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-body;
	color: $dark-color;
	line-height: 1.6;
}

.btn-primary{
	background-color: $primary-color !important;
	border: 1px solid $primary-dark !important;
}

.text-primary {
	color: $primary-color !important;
}