/* Analytics Section */
.analytics-section {
	padding: $section-padding;
	background-color: $light-color;
}

.chart-container {
	background-color: white;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: $card-shadow;
	height: 100%;
}
