// Import all of Bootstrap’s CSS
@import 'bootstrap/scss/bootstrap';
@import './common/root';

@import './landingPage/navbar';
@import './landingPage/hero-section';
@import './landingPage/about';
@import './landingPage/activity';
@import './landingPage/projects';
@import './landingPage/events';
@import './landingPage/analytics';
@import './landingPage/contact';
@import './landingPage/footer';


h1,
h2,
h3,
h4,
h5 {
	font-family: $font-heading;
	font-weight: 700;
	color: $dark-color;
}

.section-title {
	position: relative;
	margin-bottom: clamp(1.5rem, 2.5vw, 3rem);
	text-align: center;
}

.section-title:after {
	content: '';
	position: absolute;
	width: 80px;
	height: 4px;
	background-color: $primary-color;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
}

/* Responsive Adjustments */
@media (max-width: 992px) {

	.contact-info {
		padding-left: 0;
		margin-top: 3rem;
	}
}

@media (max-width: 768px) {
	.stat-item {
		min-width: 100px;
	}

	.contact-form {
		padding: 1.5rem;
	}
}

/* Custom button styles */
.btn-view-all {
	background-color: transparent;
	border: 2px solid $primary-color;
	color: $primary-color;
	padding: 0.6rem 2rem;
	border-radius: 50px;
	font-weight: 600;
	transition: all 0.3s;
}

.btn-view-all:hover {
	background-color: $primary-color;
	color: white;
}
